<!DOCTYPE html>
<html lang="en">

<head>
    {{>top}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered</title>
</head>

<body>
    <h3>User Successfully registered</h3>

    Continue to your profile page? <br>
    <form action="goProfile" method="POST">
        <button type="submit">Login?</button />
    </form>
    <br>
    <br>
    <form action="exit" method="post">
        <button type="submit">Logout?</button />
    </form>
    <br>
    <br>
    <br>
    <br>

</body>

</html>